<style>
    .container {
        width: 800px;
        font-family: Arial, Helvetica, sans-serif;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    span {
        margin: 10px;
    }
</style>

<div>
    <span>Hi, {{name}}</span>
    <br>

    <span>Did you request password change?</span>
    <br>
    <span>
        To change new password follow this link:
        <a href="{{link}}">{{link}}</a>
    </span>
    <br>
    <span>Does not you? Don't
        worry,
        your account are safe
    </span>
    <br>
    <span>Best Regards</span>
    <h4>
        <strong>Rentx</strong>
        | Team
    </h4>

</div>